
@{
    ViewData["Title"] = "CreateBudget";
}
<div class="text-center"> 
    <h3>CreateBudget</h3>

    <table>
        <thead>
            <tr>
                <th>
                    Catagory
                </th>
                 <th>
                    Projected Amount
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
       
    </table>
</div>


